*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #00d2ff;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

/* endable this to add smooth scrolling */
/* html {
    scroll-behavior: smooth;
} */


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.btn2 {
    display: inline-block;
    padding: .5em 2.5em;
    background: #9900ff;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    text-align: center;
}

.btn2:hover {
    transform: scale(1.1);
}

.btn3 {
    display: inline-block;
    padding: .5em 2.5em;
    background: #fe0000;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    text-align: center;
}

.btn3:hover {
    transform: scale(1.1);
}

.btn4 {
    display: inline-block;
    padding: .5em 2.5em;
    background: #f72a67;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    text-align: center;
}

.btn4:hover {
    transform: scale(1.1);
}

.btn5 {
    display: inline-block;
    padding: .5em 2.5em;
    background: #fc486d;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    text-align: center;
}

.btn5:hover {
    transform: scale(1.1);
}


.btn6 {
    display: inline-block;
    padding: .5em 2.5em;
    background: #fed402;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    text-align: center;
}

.btn6:hover {
    transform: scale(1.1);
}

.btn7 {
    display: inline-block;
    padding: .5em 2.5em;
    background: #28bdda;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    text-align: center;
}

.btn7:hover {
    transform: scale(1.1);
}

.btnelusive {
    display: inline-block;
    padding: .5em 2.5em;
    background: #b86b65;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    text-align: center;
}

.btnelusive:hover {
    transform: scale(1.1);
}

.btnatyourstep {
    display: inline-block;
    padding: .5em 2.5em;
    background: #fdbc05;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    text-align: center;
}

.btnatyourstep:hover {
    transform: scale(1.1);
}

.btn8 {
    display: inline-block;
    padding: .5em 2.5em;
    background: #38ef7d;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    text-align: center;
}

.btn9:hover {
    transform: scale(1.1);
}

.btn9 {
    display: inline-block;
    padding: .5em 2.5em;
    background: #448aff;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    text-align: center;
}

.btn8:hover {
    transform: scale(1.1);
}



/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
/*  Roblox Rewards  */
.section__subtitle--rr{

  background: #38ef7d;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}
/*  Health Companion  */
.section__subtitle--hc{

  background: #448aff;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

.section__subtitle--fl{

  background: #9900ff;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

.section__subtitle--al{

  background: #fed402;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

.section__subtitle--sb{

  background: #fd0100;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

.section__subtitle--tenzze{

  background: #28bdda;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

.section__subtitle--elusive{

  background: #b86b65;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

.section__subtitle--atyourstep{

  background: #fdbc05;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

.section__subtitle--ib{

  background: #ee1f77;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

.section__subtitle--ep{

  background: #01c7f6;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

.section__subtitle--tb{

  background: #fc486d;
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}


.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 200px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}






.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* hamburgerhc */

.hamburgerhc {
    display: block;
    position: relative;
}

.hamburgerhc,
.hamburgerhc::before,
.hamburgerhc::after {
    background: #448aff;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburgerhc::before,
.hamburgerhc::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburgerhc::before { top: 6px; }
.hamburgerhc::after { bottom: 6px; }



/* hamburgersb */

.hamburgersb {
    display: block;
    position: relative;
}

.hamburgersb,
.hamburgersb::before,
.hamburgersb::after {
    background: #fd0100;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburgersb::before,
.hamburgersb::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburgersb::before { top: 6px; }
.hamburgersb::after { bottom: 6px; }

/* hamburgertenzze */

.hamburgertenzze {
    display: block;
    position: relative;
}

.hamburgertenzze,
.hamburgertenzze::before,
.hamburgertenzze::after {
    background: #28bdda;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburgertenzze::before,
.hamburgertenzze::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburgertenzze::before { top: 6px; }
.hamburgertenzze::after { bottom: 6px; }


/* hamburgerelusive */

.hamburgerelusive {
    display: block;
    position: relative;
}

.hamburgerelusive,
.hamburgerelusive::before,
.hamburgerelusive::after {
    background: #b86b65;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburgerelusive::before,
.hamburgerelusive::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburgerelusive::before { top: 6px; }
.hamburgerelusive::after { bottom: 6px; }

/* hamburgeratyourstep */

.hamburgeratyourstep {
    display: block;
    position: relative;
}

.hamburgeratyourstep,
.hamburgeratyourstep::before,
.hamburgeratyourstep::after {
    background: #fdbc05;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburgeratyourstep::before,
.hamburgeratyourstep::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburgeratyourstep::before { top: 6px; }
.hamburgeratyourstep::after { bottom: 6px; }

/* hamburgeral */

.hamburgeral {
    display: block;
    position: relative;
}

.hamburgeral,
.hamburgeral::before,
.hamburgeral::after {
    background: #fed402;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburgeral::before,
.hamburgeral::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburgeral::before { top: 6px; }
.hamburgeral::after { bottom: 6px; }

/* hamburgerfl */

.hamburgerfl {
    display: block;
    position: relative;
}

.hamburgerfl,
.hamburgerfl::before,
.hamburgerfl::after {
    background: #9900ff;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburgerfl::before,
.hamburgerfl::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburgerfl::before { top: 6px; }
.hamburgerfl::after { bottom: 6px; }


/* hamburgerrr */

.hamburgerrr {
    display: block;
    position: relative;
}

.hamburgerrr,
.hamburgerrr::before,
.hamburgerrr::after {
    background: #38ef7d;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburgerrr::before,
.hamburgerrr::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburgerrr::before { top: 6px; }
.hamburgerrr::after { bottom: 6px; }

/* hamburgerib */

.hamburgerib {
    display: block;
    position: relative;
}

.hamburgerib,
.hamburgerib::before,
.hamburgerib::after {
    background: #fc486d;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburgerib::before,
.hamburgerib::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburgerib::before { top: 6px; }
.hamburgerib::after { bottom: 6px; }

/* hamburgerep */

.hamburgerep {
    display: block;
    position: relative;
}

.hamburgerep,
.hamburgerep::before,
.hamburgerep::after {
    background: #01c7f6;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburgerep::before,
.hamburgerep::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburgerep::before { top: 6px; }
.hamburgerep::after { bottom: 6px; }




/* hamburgerrr */

.hamburgertb {
    display: block;
    position: relative;
}

.hamburgertb,
.hamburgertb::before,
.hamburgertb::after {
    background: #ee1f77;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburgertb::before,
.hamburgertb::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburgertb::before { top: 6px; }
.hamburgertb::after { bottom: 6px; }


/*  Intro section  */
.cotet{
  position: relative;
  display: grid;
  width: min-content;
  margin: 0 auto;


}

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}



/*  My services section  */

.my-services {
   width: 100%;
    background-color: var(--clr-dark);
    background-image: url(./assets/index/bgnew2.png);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}


.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width:  600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Work */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}


/* footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

/* footer RR */

.footerrr {
    background: #111;
    color: #38ef7d;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footerrr a {
    color: inherit;
    text-decoration: none;
}

.footerrr__link {
    font-weight: var(--fw-bold);
}

.footerrr__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footerrr__link:hover {
    text-decoration: underline;
}

.social-listrr {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__itemrr {
    margin: 0 .5em;
}

.social-list__linkrr {
    padding: .5em;
}

/* footer HC */

.footerhc {
    background: #111;
    color: #448aff;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footerhc a {
    color: inherit;
    text-decoration: none;
}

.footerhc__link {
    font-weight: var(--fw-bold);
}

.footerhc__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footerhc__link:hover {
    text-decoration: underline;
}

.social-listhc {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__itemhc {
    margin: 0 .5em;
}

.social-list__linkhc {
    padding: .5em;
}

/* footer FL */

.footerfl {
    background: #111;
    color: #9900ff;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footerfl a {
    color: inherit;
    text-decoration: none;
}

.footerfl__link {
    font-weight: var(--fw-bold);
}

.footerfl__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footerfl__link:hover {
    text-decoration: underline;
}

.social-listfl {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__itemfl {
    margin: 0 .5em;
}

.social-list__linkfl {
    padding: .5em;
}

/* footer AL */

.footeral {
    background: #111;
    color: #fed402;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footeral a {
    color: inherit;
    text-decoration: none;
}

.footeral__link {
    font-weight: var(--fw-bold);
}

.footeral__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footeral__link:hover {
    text-decoration: underline;
}

.social-listal {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__itemal {
    margin: 0 .5em;
}

.social-list__linkal {
    padding: .5em;
}


/* footer SB */

.footersb {
    background: #111;
    color: #fd0100;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footersb a {
    color: inherit;
    text-decoration: none;
}

.footersb__link {
    font-weight: var(--fw-bold);
}

.footersb__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footersb__link:hover {
    text-decoration: underline;
}

.social-listsb {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__itemsb {
    margin: 0 .5em;
}

.social-list__linksb {
    padding: .5em;
}

/* footer tenzze */

.footertenzze {
    background: #111;
    color: #28bdda;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footertenzze a {
    color: inherit;
    text-decoration: none;
}

.footertenzze__link {
    font-weight: var(--fw-bold);
}

.footertenzze__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footertenzze__link:hover {
    text-decoration: underline;
}

.social-listtenzze {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__itemtenzze {
    margin: 0 .5em;
}

.social-list__linktenzze {
    padding: .5em;
}


/* footer elusive */

.footerelusive {
    background: #111;
    color: #b86b65;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footerelusive a {
    color: inherit;
    text-decoration: none;
}

.footerelusive__link {
    font-weight: var(--fw-bold);
}

.footerelusive__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footerelusive__link:hover {
    text-decoration: underline;
}

.social-listelusive {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__itemelusive {
    margin: 0 .5em;
}

.social-list__linkelusive{
    padding: .5em;
}


/* footer atyourstep */

.footeratyourstep {
    background: #111;
    color: #fdbc05;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footeratyourstep a {
    color: inherit;
    text-decoration: none;
}

.footeratyourstep__link {
    font-weight: var(--fw-bold);
}

.footeratyourstep__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footeratyourstep__link:hover {
    text-decoration: underline;
}

.social-listatyourstep {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__itematyourstep {
    margin: 0 .5em;
}

.social-list__linkatyourstep{
    padding: .5em;
}

/* footer IB */

.footerib {
    background: #111;
    color: #ee1f77;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footerib a {
    color: inherit;
    text-decoration: none;
}

.footerib__link {
    font-weight: var(--fw-bold);
}

.footerib__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footerib__link:hover {
    text-decoration: underline;
}

.social-listib {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__itemib {
    margin: 0 .5em;
}

.social-list__linkib {
    padding: .5em;
}

/* footer ep */

.footerep {
    background: #111;
    color: #01c7f6;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footerep a {
    color: inherit;
    text-decoration: none;
}

.footerep__link {
    font-weight: var(--fw-bold);
}

.footerep__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footerep__link:hover {
    text-decoration: underline;
}

.social-listep {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__itemep {
    margin: 0 .5em;
}

.social-list__linkep {
    padding: .5em;
}



/* footer tB */

.footertb {
    background: #111;
    color: #ee1f77;
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footertb a {
    color: inherit;
    text-decoration: none;
}

.footertb__link {
    font-weight: var(--fw-bold);
}

.footertb__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footertb__link:hover {
    text-decoration: underline;
}

.social-listtb {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__itemtb {
    margin: 0 .5em;
}

.social-list__linktb {
    padding: .5em;
}


/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
